In [ ]:
import MySQLdb
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline

In [ ]:
db = MySQLdb.connect(user = 'arb', passwd='arb', db='arb', host='localhost')
c = db.cursor()

In [ ]:
df = pd.read_sql("""select a.price as sell_price, b.price as buy_price, b.price - a.price as profit
from orders a join orders b 
on a.ts = b.ts 
where a.exchange_id = 2 
and b.exchange_id = 3 
and a.order_type = 'SELL' 
and b.order_type = 'BUY'""", db)

In [ ]:
df.count()

In [ ]:
df.head()

In [ ]:
df.price.plot(kind = 'bar', figsize = (15, 4))