In [6]:
import MySQLdb
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [7]:
db = MySQLdb.connect(user = 'arb', passwd='arb', db='arb', host='localhost')
c = db.cursor()

In [8]:
df = pd.read_sql("""select a.exchange_name, b.exchange_name, a.price as sell_price, b.price as buy_price, b.price - a.price as profit
from orders a
join orders b 
on a.ts = b.ts 
where a.exchange_name =  "BITTREX"
and a.trading_pair = b.trading_pair
and b.exchange_name = "COINGI"
and a.order_type = 'SELL' 
and b.order_type = 'BUY'
order by profit asc""", db)

In [9]:
df.count()

exchange_name    10434
exchange_name    10434
sell_price       10434
buy_price        10434
profit           10434
dtype: int64

In [10]:
df.head()

  exchange_name exchange_name  sell_price  buy_price    profit
0       BITTREX        COINGI    0.000969   0.000005 -0.000964
1       BITTREX        COINGI    0.000969   0.000010 -0.000959
2       BITTREX        COINGI    0.000969   0.000015 -0.000954
3       BITTREX        COINGI    0.000957   0.000005 -0.000952
4       BITTREX        COINGI    0.000957   0.000005 -0.000952

In [11]:
df.price.plot(kind = 'bar', figsize = (15, 4))

AttributeError: 'DataFrame' object has no attribute 'price'